@charset 'utf-8';
@import 'settings';
@import 'mixins';
@import 'foundation';
@include foundation-global-styles;
@include foundation-typography;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;

*,
* ::after,
* ::before {
  box-sizing: border-box;
}
//Layout

.outer {
  max-width: 100%;
  overflow: hidden;
}

.page-wrap {
  margin: 0 auto;
  max-width: rem-calc(1680);
}

.section {
  margin: 0 auto;
  max-width: $global-width;
  padding: $grid-column-gutter/2 $grid-column-gutter/4;
}

.light-blue {
  background: $light-blue;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

h1 {
  bottom: 10%;
  color: $white;
  margin: 0 auto;
  max-width: $global-width;
  padding: $grid-column-gutter/2 $grid-column-gutter/4;
  position: absolute;
}

h2,
h3 {
  font-weight: bold;
  margin-bottom: 0;
}

ul {
  margin-left: 0;
}

li {
  color: $paragraph-color;
  list-style: none;
}

a {
  text-decoration: underline;
}
//Variablen

// Header

header {
  padding: $grid-column-gutter/2 $grid-column-gutter/4;
}
// Menu
.menu-nav {
  border-bottom: 1px solid $dark-blue;
}
// Menu Button

.menu-button {
  @include size($grid-column-gutter*1.5);
  cursor: pointer;
  display: block;
  position: absolute;
  right: 0;
  top: 0;

  &.active {
    .menu-button-inner {
      transform: rotate(225deg);
      transition-delay: 0.12s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

      &::before {
        opacity: 0;
        top: 0;
        transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
      }

      &::after {
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
  }
}

.menu-button-box {
  @include size(rem-calc(70));
  display: inline-block;
  padding: rem-calc(16);
  position: relative;
  transition: transform 0.25s;
}

.menu-button-inner {
  display: block;
  margin-top: rem-calc(-40);
  top: 100%;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

  &,
  &::after,
  &::before {
    background-color: $blue;
    border-radius: rem-calc(2);
    height: rem-calc(5);
    position: absolute;
    transition: transform .25s ease;
    width: rem-calc(40);
  }

  &::after,
  &::before {
    content: "";
    display: block;
  }

  &::before {
    right: rem-calc(0);
    top: rem-calc(11);
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
  }

  &::after {
    bottom: rem-calc(11);
    right: rem-calc(0);
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
}

.menu-button-label {
  color: $blue;
  display: block;
  margin-top: -$grid-column-gutter / 3.75;
}

#main-menu {
  a {
    display: block;
    padding: $grid-column-gutter/4 $grid-column-gutter/2;

    &:focus,
    &:hover {
      background: $dark-blue;
      color: $white;
    }
  }
}

// Lang Menü

.lang-nav {
  margin-bottom: $grid-column-gutter;
}

#lang-menu {
  li {
    display: inline-block;
    margin: 0 $grid-column-gutter/6;
  }
}
// Logo

.logo {
  border-top: 1px solid $blue;
  margin: 0 auto;
}
// Hero

.hero {
  position: relative;

  span {
    font-size: rem-calc(28);
    font-weight: bold;
  }
}


// Inhalt
main {
  .text-box {
    margin: $grid-column-gutter 0;
    padding: $grid-column-gutter/2;
    text-align: center;
  }

  span {
    display: block;
    font-weight: normal;
    margin-bottom: $grid-column-gutter/3;
    margin-top: $grid-column-gutter/6;
  }

  // ul {
  //   margin-top: $grid-column-gutter/2;
  // }

  li {
    &::before {
      content: "»";
      margin-right: $grid-column-gutter/4;
    }
  }
}
